<!DOCTYPE html>
<html>
  <head>
    <title>Web Frameworks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <style>
      <%= Rouge::Themes::MonokaiSublime.render(scope: '.highlight') %>
    </style>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 mt-2">
      <%= render 'layouts/breadcrumbs' %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
